.list {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: 2px solid rgb(224, 217, 217);
  border-top: 2px solid rgb(224, 217, 217);
}

.goBack {
  display: inline-block;
  padding: 6px;
  margin: 16px 0;
  border: 1px solid rgb(224, 217, 217);
  border-radius: 4px;
}
