.link {
  text-decoration: none;
  color: black;
  font-weight: 500;
  font-size: 30px;
}

.container {
  display: flex;
  gap: 30px;
  border-bottom: 2px solid rgb(104, 85, 85);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.3);
}

.active {
  color: blue;
}
